# Specify how IAuthU should run.
# Available options are: :cgi, :webrick, :mongrel
# Note: if a cgi environment is detected, IAuthU will run in
# cgi mode regardless of this setting.

run :webrick, :port => 9292

# Specify the log destination:
# * :default == STDERR
# * "/path/to/logfile"
# * a Logger object
# note: using STDOUT will interfere with cgi output

logger :default     # :default | "/var/log/iauthu.log" | Logger.new("/var/logs/iauthu.log")


# Specify the Login Page
# Options include:
#  * :default - displays the builtin login form
#  * "/path/to/file.html" - displays specified file
#  * "<html><title>...."  - use a raw html string
#  * {...} - run a ruby block to generate the page. 
#            For example, consider using markaby

login_page :default

site {
    # Specify your iTunes U url
    url "<%= url || "https://deimos.apple.com/WebObjects/Core.woa/Browse/foo.edu" %>"
    
    # Specify your debug suffix if you wish to use iTunes U authentication
    # in debug mode.
    <%= "#" unless debug_suffix %> debug_suffix "<%= debug_suffix || "/debug_suffix" %>"
    
    # Enable iTunes U authentication debugging. Must specify the debug_suffix.
    debug <%= debug ? "true" : "false" %>
    
    # Shared authentication secret
    shared_secret "<%= shared_secret || "SHARED-SECRET" %>"
    
    # Define your iTunes U login credentials. The alias you specify 
    # can be used to refer to that credential later in the authentication
    # section.
    #
    # Example:
    # cred :alias, "FullCred@urn:mace:itunesu.com:sites:urschool.edu"
    <% unless creds.nil? 
        creds.keys.each do |key| %>
    cred <%= key.inspect %>, <%= creds[key].inspect %>
    <%  end
      end %>
}

auth {
  
  # Authenticate all users
  use {|user, pass| 
    {"display_name" => user,
     "username" => user,
     "credentials" => []
    }
  }
  
  # # Uncomment to Authenticate Users from LDAP
  # require 'iauthu/authenticator/ldap'
  # use IAuthU::Authenticator::LDAP.build {
  #   servers "ldap.urschool.edu"
  #   login_format "uid=%s,ou=People,o=ldap.urschool.edu,o=cp"
  #   credentials [:user]
  # }
  
  
  # # Uncomment to create a 'test' admin user
  # use {|user, pass|
  #   if user == 'test' && pass == 'test'
  #     {"display_name" => "Site Administrator",
  #       "email" => "acg-support@montana.edu",
  #       "credentials" => [:admin]}
  #   end
  # }
}

